<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576959977823-dra8hla0np0e4bvnif5ogh1pc8hsd2l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576959977823-dra8hla0np0e4bvnif5ogh1pc8hsd2l6</string>
	<key>API_KEY</key>
	<string>AIzaSyBsSyJGwz-u36Jf32U7uicYPd1GgvpkzFo</string>
	<key>GCM_SENDER_ID</key>
	<string>576959977823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rateMyAnime</string>
	<key>PROJECT_ID</key>
	<string>rate-my-anime-7</string>
	<key>STORAGE_BUCKET</key>
	<string>rate-my-anime-7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576959977823:ios:21fd1d9422eb4f3a2e7eea</string>
</dict>
</plist>